body {
    background-color: #333;
    color: aliceblue;
    padding-left: 0px;
    font-family:'Times New Roman';
    margin: 0px;
    background-image: url("Fondoplacaneon.avif");
    background-size: cover; 
}


nav {
    background-color: #8392FE;
    color: white;
    padding: 10px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}
div {
    text-align: center;
}
video{
    text-align: center;
    margin: 100px;
    padding: 120px;
    size: 1;
}
.boton {
 /* Hace que el enlace sea un bloque, ocupando todo el ancho del contenedor */
    text-align: center; /* Centra el texto del enlace */
    padding: 10px; /* Añade espacio de relleno alrededor del enlace */
    background-color: #007bff; /* Establece un color de fondo azul para el enlace */
    color: #fff; /* Establece el color del texto en blanco */
    text-decoration: none; /* Elimina la subrayado del enlace */
    border-radius: 5px; /* Añade bordes redondeados al enlace */
}
.boton:hover {
    background-color: #0056b3; /* Cambia el color de fondo cuando se pasa el ratón sobre el enlace */
}
